body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
}

.preloader{
    background: var(--tg-theme-bg-color);
}

.page-header{
    background: var(--tg-theme-bg-color);
}

.rd-navbar-main{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}


.rd-navbar-nav-wrap{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}