body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
}

.rd-navbar {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
  }
  
.preloader{
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
}
  
.section-lg {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
  }
  
  .section-lg h4 {
    color: var(--tg-theme-text-color);
  }