body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
}

.navbar {
    height: 45px; /* Здесь вы можете установить желаемую высоту в пикселях */
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.navbar-brand {
    margin-top: -10px; /* Установите отрицательное значение верхнего отступа */
}

.navbar-brand .row {
    margin-top: 3px;
    line-height: 0; /* Установите значение line-height равным 1 */
}

.navbar-brand img {
    margin-top: -8px; /* Установите значение отрицательного верхнего отступа */
}

.card {
    margin-top: 10px;
    max-width: 23rem;
    background: var(--tg-theme-bg-color);
}

.fs-5 {
    color: var(--tg-theme-text-color);
}

.fs-6 {
    color: var(--tg-theme-text-color);
}

.card-title{
    color: var(--tg-theme-text-color);
}

.card-text{
    color: var(--tg-theme-hint-color);
}

.accordion{
    background: var(--tg-theme-secondary-bg-color);
}

.accordion-button{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.accordion-item{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}